body {
    background-color: dodgerblue;
    background-image: linear-gradient(to bottom, dodgerblue, white, white);
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 100px
}

.novoCliente{
    margin: 20% auto 20% auto;
    text-align:center;
}

.btnSalvar {
    display: block;
    margin: 70px auto 80px auto;
    height: 50px;
    width: 600px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    margin-top: 70px;
    background-color:dodgerblue;
    color:white;
}
