body {
    background-color: dodgerblue;
    background-image: linear-gradient(to bottom, dodgerblue, white, white);
    width: 100vw;
    height: 100vh;
}
h1{
    text-align: center;
    font-size:100px
}
td {
    padding: 5px;
    text-align: center;
}
th {
    padding: 5px;
    text-align: center;
}
.grdCliente {
    background:center;
    margin:200px auto 200px auto
}

.msgVazio{
    font-size:30px;
}

.btnCliente {
    display: block;
    margin: 70px auto 80px auto;
    height: 50px;
    width: 600px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    margin-top: 70px;
    background-color:dodgerblue;
    color:white;
}

.campo-transp{
    background: transparent;
}

@keyframes changeBackgroundColor {
    0% {
        background-color: #001F3F;
    }

    50% {
        background-color: #FF4136;
    }

    100% {
        background-color: #001F3F;
    }
}